<configuration> 
   <system.web.extensions>
       <scripting>
           <webServices>
			   <jsonSerialization maxJsonLength="1000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
	<system.web>
		<httpRuntime maxRequestLength="2147483647"  />
		<!--<httpRuntime Max="2147483647" />-->
		<!--<requestLimits  maxAllowedContentLength="2147483647"></requestLimits>-->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration> 